{% extends "auctions/layout.html" %}

{% block body %}

<h1>Add a new product</h1>

<form action="{% url "addProduct" %}" method="post">
    {% csrf_token %}
    <input type="text" name="title" id="title" placeholder="Title">
    <input type="text" name="description" id="description" placeholder="Description">
    <input type="number" name="startingPrice" id="startingPrice" placeholder="startingPrice">
    <select name="categories" id="categories">
        <option value="">Categories</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.title }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Add">
</form>

<a href="{% url "addCategory" %}">
    <h1>Add a Category</h1>
</a>



{% endblock body %}